<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Encompassing Servers Component :</h3>
      <hr />
      <input type="text" 
      class="form-control" 
      [(ngModel)]="serverName"
      placeholder="Enter the name of the server ...">

      <button class="btn btn-primary"
      [disabled]="!allowNewServer"
      (click)="onCreateServer()">
        {{buttonStatus}}
      </button>

      <p *ngIf="serverCreated">Server was created. Server name is {{serverName}}</p>

      <hr />
      
      <app-server *ngFor="let serv of servers"></app-server>
    </div>
  </div>
</div>
